nav {
  display: flex;
  background-color: #faf7e3;
  height: 200px;
  width: 100%;
  align-items: center;
  color: #6f502e;
}
nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: 2em;
  margin-right: 2em;
}

nav ul li {
  display: flex;
  height: 4px;
  align-items: center;
  background-color: #ffdf7e;
  border-radius: 50px;
  padding: 2em;
}
nav ul li:nth-child(3) {
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 15%;
  display: flex;
  justify-content: space-around;
  height: 30px;
  font-size: 2em;
  border-radius: 90px;
}
nav ul li img {
  width: 50px;
  height: 50px;
}
