.productCard {
  width: 20%;
  background-color: #faf7e3;
  color: #6f502e;
  display: flex;
  flex-direction: column;
  border-radius: 20%;
  overflow: hidden;
}

.description {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.description div h2,
.description div p {
  margin: 0;
}
.description div {
  margin-top: 1em;
}
.button {
  display: flex;

  justify-content: center;
  align-items: center;
}
.button p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 30px;
  border-radius: 20px;
  background-color: #ffdf7e;
}
