/* IMPOSTAZIONI GENERALI */

body {
  font-family: Poppins, sans-serif;
  background-image: url(../img/sfondo.png);
  background-position: center;
  margin: 1em auto;
  margin-top: 0em;
  padding: 10px;
  line-height: 2em;
}

#container {
  margin: 0 auto;
  width: 90%;
}

/* HEADER */

header {
  text-align: center;
  background: rgb(16, 89, 138);
  background: linear-gradient(0deg, rgba(16, 89, 138, 1) 24%, rgba(15, 151, 196, 1) 72%);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-bottom: 50px;
  padding-top: 30px;
  color: white;
}

nav ul {
  padding: 0em;
  list-style: none;
}

nav ul li::before {
  content: "\21d2\0020";
}

nav ul li::after {
  content: "\0020\21d0";
}

nav a {
  color: white;
  text-decoration: none;
}

/* MAIN */

#content {
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 auto;
  background-color: white;
  box-shadow: -5px -5px -5px 3px rgb(59, 70, 73);
  border: 1px solid rgb(221, 211, 211);
}

span {
  background-color: lightgrey;
  border: solid 1px grey;
  border-radius: 5px;
}

.parti {
  color: rgb(180, 60, 180);
}

/* ELEMENTI NEL MAIN - ARTICLE */

article > h2 {
  text-align: center;
}

.article div > a {
  color: rgb(43, 164, 212);
  font-weight: 600;
}

article > div {
  border: 1.5px solid rgb(160, 159, 159);
  background-color: rgb(233, 233, 233);
  margin-bottom: 2em;
  padding: 1rem;
}

.article p:last-child {
  text-align: right;
}

.tag::before {
  content: "\f02c";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.date::before {
  content: "\f073";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

/* TABELLE */
table {
  border-style: solid 1px black;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
}
table,
td,
th {
  font-size: larger;
  font-weight: lighter;
  text-align: center;
}

th {
  padding: 1em;
  background-color: rgb(61, 121, 250);
  color: white;
  border-style: solid;
}

.grey {
  background-color: rgba(205, 203, 203, 0.69);
}
tbody:last-child {
  border-bottom: solid 2px rgb(61, 121, 250);
}

/* VIDEO */
iframe {
  width: 100%;
  border-radius: 40px;
  margin-bottom: 2em;
}

/* FORM */
#formnews {
  background-color: rgb(223, 223, 223);
  padding: 10px;
}

article h2 {
  text-align: center;
}

input,
button {
  border: none;
}
input {
  width: 70%;
  height: 25px;
  max-width: 300px;
  border-bottom: 0.5px dashed black;
}

button {
  height: 25px;
  width: 25%;
  max-width: 100px;
  color: white;
  font-weight: bold;
  background-color: rgb(61, 121, 250);
}
/* ELEMENTI NELL' ASIDE */

.article div > a {
  color: rgb(43, 164, 212);
  font-weight: 600;
}

article > div {
  border: 1.5px solid rgb(160, 159, 159);
  background-color: rgb(233, 233, 233);
  margin-bottom: 2em;
  padding: 1rem;
}

.article p:last-child {
  text-align: right;
}

/* FOOTER */
footer {
  margin: 0 auto;
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: center;
  font-style: normal;
  color: white;
  background: rgb(34, 82, 100);
  background: linear-gradient(180deg, rgba(34, 82, 100, 1) 53%, rgba(28, 64, 78, 1) 81%);
  border-bottom: solid 1px white;
}
address {
  font-style: normal;
}
footer a {
  color: rgb(180, 60, 180);
  font-weight: bolder;
}
