/* IMPOSTAZIONI GENERALI */

body {
  font-family: Poppins, sans-serif;
  background-image: url(../img/sfondo.png);
  background-position: center;
  margin-right: 0px;
  padding: 10px;
  line-height: 2em;
}

/* HEADER */

header {
  text-align: center;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(46, 106, 133, 1) 100%);
  text-transform: uppercase;
  margin-bottom: 50px;
  margin-top: 30px;
  font-size: 20px;
  padding-bottom: 50px;
  padding-top: 30px;
}

figcaption {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

ul {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  list-style: none;
}

ul li::before {
  content: "\21d2\0020";
}

ul li::after {
  content: "\0020\21d0";
}

a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

/* MAIN */
#main {
  margin: 0 auto;
  width: 95%;
  background-color: white;
  box-shadow: -5px -5px -5px 3px rgb(59, 70, 73);
  border: 1px solid rgb(221, 211, 211);
}

#container {
  margin: 0 auto;
  width: 90%;
}

#description {
  color: grey;
}

#parti {
  color: blueviolet;
}

.btn {
  border-radius: 5px;
  background-color: hex(#e0e0e1);
  font-size: 13px;
  border-collapse: collapse;
}
header_css.txt
1 KB

/* ELEMENTI NEL MAIN - ARTICLE */
article>h2 {
  text-align: center;
}

.article div > a {
  color: rgb(43, 164, 212);
  font-weight: 600;
}

article > div {
  border: 1.5px solid rgb(160, 159, 159);
  background-color: rgb(233, 233, 233);
  margin-bottom: 2em;
  padding: 1rem;
}

.article p:last-child {
  text-align: right;
}

.tag::before {
  content: "\f02c";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.date::before {
  content: "\f073";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

/* TABELLE */
table {
  border-style: solid 1px black;
  width: 80%;

  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
}
table,
td,
th {
  font-size: large;
  text-align: center;
}
th {
  background-color: rgb(61, 121, 250);
  color: white;
  border-style: solid;
}
.grey {
  background-color: rgba(205, 203, 203, 0.69);
}
/* video */
iframe {
  width: 100%;
  border-radius: 40px;
}
/* FORM */
#formnews {
  background-color: rgb(223, 223, 223);
  padding: 10px;
}
article h2 {
  text-align: center;
}
input,
button {
  border: none;
}
input {
  border-bottom: 0.5px dashed black;

  width: 25%;
  height: 25px;
}
button {
  height: 20px;
  color: white;
  font-weight: bold;
  background-color: blue;
}
/* ELEMENTI NELL' ASIDE */
article > h2 {
  text-align: center;
}

.article div > a {
  color: rgb(43, 164, 212);
  font-weight: 600;
}

article > div {
  border: 1.5px solid rgb(160, 159, 159);
  background-color: rgb(233, 233, 233);
  margin-bottom: 2em;
  padding: 1rem;
}

.article p:last-child {
  text-align: right;
}

.tag::before {
  content: "\f02c";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.date::before {
  content: "\f073";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
css_articolo.txt
  1 KB

/* FOOTER */
#foot {
  margin: 0 auto;
  text-align: center;
  border-style: solid;
  color: white;
  background: rgb(34, 82, 100);
  background: linear-gradient(180deg, rgba(34, 82, 100, 1) 53%, rgba(28, 64, 78, 1) 81%);
  border-bottom: double 4px;
}
