th,
td,
tr {
  border: 1px solid black;
  padding: 1em;
}
table {
  margin-bottom: 2em;
  background-color: white;
  color: black;
  width: 50%;
  border-collapse: collapse;
}
a {
  color: rgb(116, 174, 225);
}
body {
  background-color: black;
  color: white;
}
