body {
    background-color: blueviolet;
}

.fatto {
    font-weight: bold;
}

.fatto::before {
    content: "\f00c";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-family: "FontAwesome";
    src: url('../font/fontawesome-webfont.eot');
    src: url('../font/fontawesome-webfont.eot?#iefix') format('eot'),
        url('../font/fontawesome-webfont.woff') format('woff'),
        url('../font/fontawesome-webfont.ttf') format('truetype'),
        url('../font/fontawesome-webfont.svg#FontAwesome') format('svg');
}