body {
  background-color: blueviolet;
}

.fatto {
  font-weight: bold;
}

.fatto::before {
  content: "\f00c";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-family: "FontAwesome";
}
li {
  margin: 2em;
  width: 50%;
  border-radius: 10px;
  background-color: white;
  padding: 1em;
}
