body {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#container {
  width: 60%;
  margin: 0 auto;
}
#container > p {
  text-align: left;
}
nav {
  background-color: #fefbf1;
  border-top: solid 1px #ffd977;
  color: #004d4d;
}
#container video {
  border-radius: 2%;
  width: 100%;
}
figcaption {
  color: gray;
  margin-top: 1em;
}

aside {
  text-align: left;
  padding-left: 1em;
  border-left: solid 1px #ffd977;
  margin-top: 3em;
  margin-bottom: 3em;
}
aside p {
  color: #b5460f;
}
main {
  text-align: left;
}
h1 {
  width: 80%;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 1em;
}
h2 {
  border-bottom: solid 1px lightblue;
  padding-bottom: 1em;
  font-weight: lighter;
}
footer {
  text-align: left;
}
