$backgroundColor: #640fc5;
$textColor: #f4f4f4;
$buttonColor1: #0e6cff;
$buttonColor2: #ff8700;
$buttonColor3: #4caf50;

$fontSizeS: 0.8em;
$fontSizeM: 1em;
$fontSizeMl: 1.2em;
$fontSizeL: 1.5em;
$fontSizeXl: 1.8em;
$fontSizeXxl: 2em;

$none: 0em;
$sm: 0.5em;
$normal: inherit;
$md: 1em;
$lg: 1.2em;
$xl: 1.5em;
$xxl: 2em;

$mainFontFamily: "Roboto", sans-serif;
